{% extends "app_coder/index.html" %}
{% load static %}
{% block app_coder_content %}

<h2>Seed's List</h2>
<a class="card_custom" href="{% url 'app_coder:seeds_django_forms' %}">New seed</a>
<hr>
</hr>
<ul>
    {% for seed in seeds %}
    <li>
        {{seed}}
        (
        <a href="{% url 'app_coder:update_seeds' seed.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"></i>
        </a>
        |
        <a href="{% url 'app_coder:delete_seeds' seed.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"></i>
        </a>
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}